<div class=60>
  <!-- article_create button -->
  <%= link_to "create",'/articles/new' %>

  <div class=articles>
  <%= current_user.twitter_id %> 's articles
  <!-- current_user.articles(newer) -->
</div>
